<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../static/css/layout.css"
    />
    <title>Principal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="formato">
      <div class="tittle">Inicio</div>

      <div class="eleccion">
        <button class="boton-login" onclick="mostrarContenido()">
          Iniciar sesion
        </button>
        <button class="boton-register" onclick="mostrarContenido2()">Registrarse</button>
      </div>

      <div id="contenido_oculto">
        <p>-------------------------------------------------------------------------</p>
        <ul class="inputs">
          <input type="text" placeholder="Usuario" />
          <input type="password" placeholder="Contraseña" />
          <a class="pointer" href="../templates/cambio-contraseña.html">He olvidado mi contraseña</a>
          <!-- url_for es para especificar las rutas y se maneja de la siguiente forma url_for('carpeta padre', filename='nombre del archivo') -->

          <a href="usuario.html"><button class="aceptar">Aceptar</button></a>
         

        </ul>
      </div>

      <div id="contenido_oculto2">
        <p>-------------------------------------------------------------------------</p>
        <form action="#">
        <ul class="inputs">
          <input type="text" placeholder="Nombre" name="nombre"/>
          <input type="email" placeholder="Email" name="email"/>
          <input type="text" placeholder="Direccion" name="direccion"/>
          <input type="password" placeholder="Contraseña" name="contraseña"/>
          <input type="password" placeholder="Confirmar contraseña" />

          <a><button class="aceptar" onclick="alert('Registrado correctamente')">Aceptar</button></a>
        </ul>
      </form>
      </div>
    </div>

    <!-- Se relaciona el archivo JS con el proyecto-->
    <script src="../static/js/main.js"></script>

    <!--Al igual que el boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </body>
</html>
